{
  "mcpServers": {
    "itential-mcp": {
      "autoApprove": [],
      "disabled": false,
      "timeout": 120,
      "command": "uv",
      "args": [
        "--directory",
        "/path/to/your/project/mcps/itential-mcp",
        "run",
        "itential-mcp",
        "run",
        "--config",
        "/path/to/your/project/itential-mcp.conf"
      ],
      "type": "stdio"
    },
    "time": {
      "autoApprove": [],
      "disabled": false,
      "timeout": 60,
      "command": "uv",
      "args": [
        "--directory",
        "/path/to/your/project/mcps/servers/src/time",
        "run",
        "mcp-server-time"
      ],
      "type": "stdio"
    },
    "filesystem": {
      "autoApprove": [],
      "disabled": false,
      "timeout": 60,
      "command": "/path/to/node",
      "args": [
        "/path/to/your/project/mcps/servers/src/filesystem/dist/index.js",
        "/path/to/your/project/files"
      ],
      "type": "stdio"
    }
  }
}
